
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

$font1:"inter";


*{
    margin: 0;
    padding: 0;
    font-family: "inter", sans serif;
}

body{
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
}
button{
    background-color: white;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.4s ease;
    cursor: pointer;
    padding: 10px 20px;
    letter-spacing: 1px;
}
button:hover{
    color: whitesmoke;
    background:black;
}
.bnav{
    background-color:#f3f3f31e;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.4s ease;
    cursor: pointer;
    padding: 10px 20px;
    letter-spacing: 1px;
    min-height: 100%;
}
.bnav:hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.495);
}
header{
    height: 50vh;
    max-width: 32vw;
    margin: 0 auto;
    padding: 150px;
    @media screen and (max-width: 480px){
        min-width: 50vh;
        padding: 0;
        min-height: 83vh;
    }

    .topheader{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        text-align: center;
        min-height: 80vh;
    }
    h1,p{
        color: white;
        font-family: "inter", sans serif;
        margin-top: 50px;
        margin-bottom: 30px;
        
    }
    h1{
        font-size: 4rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        @media screen and (max-width: 480px){
            margin-top: 150px;
            font-size: 3rem;
            max-width: 90vw;
            margin-left: auto;
            margin-right: auto;
        }
        
    }
    p{
        font-style: italic;
    }
    .fa-arrow-down{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px auto 30px;
        color: white;
        border: 1px solid white;
        padding: 10px;
        border-radius: 50%;
        height: 30px;
        width:30px;
        @media screen and (max-width: 480px){
            font-size: 1.5rem;
            border: 2px solid white;
            height: 45px;
            width: 45px;
        }
    }

}
nav{
    display: flex;
    margin: 0 auto;
    list-style-type: none;


.navpages{
    display: grid;
    grid-template-columns: 50% 30% 20%;
    height: 80px;
    width: 1100px;
    background-color: #f3f3f31e;
    margin: 0 auto;
    @media screen and (max-width: 480px){
        display: flex;
        max-width: 90vw;
    }
}
.navleft{
    display: flex;
}
.navright{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 10px;
   color: white;
   :hover{
    color: rgb(228, 4, 206);
    background-color: none;
}
@media screen and (max-width: 480px){
    display: none;
}
}

}




section{
    
    background-color: white;
    max-width: 1100px;
    margin-bottom: 15px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 40px;
    @media screen and (max-width: 480px){
        max-width: 90vw;
    }
    .topsection{
    padding-top: 100px;
    border-bottom: 1px solid #0000001f; /* ligne horizontale noire */
    
    .date{
        position: relative;
    }
    .date::before{
        content: ""; /* contenu vide */
        position: absolute; /* positionner en rapport à l'élément parent */
        top: 10px; left: 0; /* positionner en haut à gauche */
        width: 30%; /* largeur égale à l'élément parent */
        height: 1px; /* hauteur fixe */
        margin-left: 10%;
        margin-right: 0%;
        background-color: #00000017; /* couleur de la bordure */
        transform: skewX(20deg); /* flèche pour donner un effet de 3D */
    
    }
    .date::after{
    content: ""; /* contenu vide */
    position: absolute; /* positionner en rapport à l'élément parent */
    bottom: 10px;
    width: 30%; /* largeur égale à l'élément parent */
    margin-left: 10%;
    margin-right: 0%;
    height: 1px; /* hauteur fixe */
    background-color: #00000017; /* couleur de la bordure */
    transform: skewX(-20deg); /* flèche pour donner un effet de 3D */
    }
    h2{
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: 1px;
        max-width: 500px;
        margin: 30px auto;
    }
   .commentpic{
    font-style: italic;
    max-width: 60%;
    margin: 0 auto;
    line-height: 2;
    @media screen and (max-width: 480px){
        line-height:3 ;
    }
   }
    .img1{
    background-image: url(../img/pic01.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    max-width: 50vw;
    margin: 30px auto;
    @media screen and (max-width: 480px){
        max-width: 80vw;
        max-height: 30vh;
    }
    }
    .button{
        margin-bottom: 50px;
    }
   
    }

    .bottomsection{

        display: grid;
        grid-template-columns: 50% 50%;
        min-height: 400px;
        @media screen and (max-width: 480px){
            display: block;
        }
         h2{
            text-transform: uppercase;
            margin: 30px 0 30px 0;
        }
        p{
            line-height: 2;
            width: 60vw;
            margin: 0 auto;
            margin-bottom: 30px;
            margin-top: 50px;
        }
        .left{
            border-right: 1px solid #0000001f; /* ligne horizontale noire */
            .date{
                @media screen and (max-width: 480px){
                    text-align: center;
                }
            }
            .pleft{
                @media screen and (max-width: 480px){
                    text-align: left;
                }
            }
        }
        .img2{
            background-image: url(../img/pic02.jpg);
            height: 40vh;
            width: 60vh;
            margin: 0 auto;
            margin-bottom: 30px;
            @media screen and (max-width: 480px){
                max-width: 80vw;
                max-height: 30vh;
            }
        }

        .button{
            margin-bottom: 50px;
        }
        
        .img3{
        background-image: url(../img/pic03.jpg);
        height: 40vh;
        width: 60vh;
        margin: 0 auto;
        margin-bottom: 30px;
        @media screen and (max-width: 480px){
            max-width: 80vw;
            max-height: 30vh;
        }
        }
        .pright{
            @media screen and (max-width: 480px){
                text-align: left;
            }
        }
    }
}
    

footer{
    background-color: white;
    max-width: 1100px;
    max-height: 70vh;
    text-align: left;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 30px;
    @media screen and (max-width: 480px){
        max-width: 90vw;
    }

    .champ{
        display: block;
        margin-top: 30px;
        padding-left: 10%;
        padding-right: 10%;
        
        label{
            display: block;
            text-transform: uppercase;
            margin-top: 30px;
            margin-bottom: 10px;
        }
        input{
            min-height: 30px;
            width: 100%;
            margin: 0 auto;
            border-radius: 3px;
            border: 1px solid rgba(128, 128, 128, 0.543);
        }
        #message{
            min-height: 200px;
            min-width: 100%;
            text-align: left;
            padding-left: 10px; /* ajustez la valeur pour obtenir l'espace souhaité */
            
        }
    }
    .footerright{
        border-left: 1px solid #0000001f; /* ligne horizontale noire */
    .contact{
        padding: 50px;
        display: grid;
        grid-template-columns: 30% 70%;
        border-bottom: 1px solid #0000001f; /* ligne horizontale noire */
    }
    .lcontact{
        padding: 50px;
        display: grid;
        grid-template-columns: 30% 70%;
    
    }
    .pleft{
        text-transform: uppercase;
        display: flex;
        align-items: center;
    }
    .prb{
        max-width: 80%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        i{
        border: 1px solid #0000001f;
        color: rgb(0, 0, 0);
        height: 40px;
        width: 40px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        }
        
    }
    }
}
